In [16]:
!python --version

Python 3.7.12

In [17]:
import pymongo  
import datetime

In [18]:
!pip list > requirements.txt #to generate file with the libraries installed in the environment used to run the notebook

## Descripció

Comencem a familiaritzar-nos amb bases de dades NoSQL!!! Comencem amb uns quants exercicis bàsics.

## Nivell 1

**- Exercici 1:**
Crea una base de dades NoSQL utilitzant MongoDB. Afegeix-li algunes dades d'exemple que et permetin comprovar que ets capaç de processar-ne la informació de manera bàsica.

In [41]:
from pymongo import MongoClient

Open the program **MongoDB Compass** and connect to database (local in this case, but it could be hosted), program previously installed see [readme.md](https://github.com/MarkusHumetus/Bases_de_dades_NoSQL/blob/main/README.md).

In [94]:
client = MongoClient('localhost',
            port=27017,
            ) #connection to DDBB
            
db = client['prueba'] #generate a DDBB with name prueba (no prob if it already exists!)

col = db['personas'] #generate a collection with the name personas (no prob if it already exists!)

In [55]:
col.insert_one({'age': 20, 
                'name': 'Maria', 
                'hobbies':['cooking repostery','yoga']
                }
                )

In [63]:

col.insert_many([{'age': 33, 
                'name': 'Marc', 
                'hobbies':['cinema', 'reading books', 'coding python']
                },
                {'age': 55, 
                'name': 'Helena', 
                'hobbies':['dancing', 'cooking']
                },
                {'age': 19, 
                'name': 'Isabel', 
                'hobbies':['play cards', 'swimming']
                },
                {'age': 48, 
                'name': 'Marc', 
                'hobbies':['hockey', 'canyoning', 'reading books', 'coding python']
                }
                ])

One document is introduced directly with mongoDB Compass program.

In [69]:
print(f"Names of DDBB in MongoDB: {client.list_database_names()}")
print(f"Collection's names in the DB 'prueba': {db.list_collection_names()}")
print(f"Number of documents in the collecion 'personas': {col.count_documents({})} ")

Names of DDBB in MongoDB: ['admin', 'config', 'local', 'prueba', 'test_DDBB']
Collection's names in the DB 'prueba': ['personas']
Number of documents in the collecion 'personas': 6

In [30]:
client.close() #close the DB

In [27]:
#We connect to the MongoDB DDBB created by software

cluster="mongodb+srv://marc:markus1973@cluster0.koq3h.mongodb.net/test?retryWrites=true&w=majority"
from pymongo import MongoClient

client = MongoClient(cluster)
db=client.test

print (client.list_database_names())
print (db.list_collection_names())

['admin', 'local']
[]

In [24]:
todo1={"name":"Marc", 'text':'My first duttie', 'status':'open', 'tags': ['python','DDBB', 'coding'], 'date': datetime.datetime.utcnow()}

In [ ]:
todos = {"name":"Joan", }

In [ ]:

todos = db.todos

result = todos. insert_one(todo1)

In [ ]:
todo2 = [{"name":"Marc", 'text':'My secont todo', 'status':'open', 'tags': ['python','DDBB', 'coding'], 'date': datetime.datetime.utcnow()},{"name":"Marc", 'text':'My secont todo', 'status':'open', 'tags': ['python','DDBB', 'coding'], 'date': datetime.datetime.utcnow()}]

result=todos. insert_many(todo2)

In [25]:
client.close()

**- Exercici 2:**
Connecta la base de dades NoSQL a Python utilitzant per exemple pymongo.

Genero una base de datos de forma aleatoria con listado de nombres de niños y niñas más otro de hobbies encontrados por internet.

In [98]:
import pandas as pd
import random

In [84]:
df_noms_hobbies=pd.read_csv("nombres y hobbies.csv",engine='python', encoding='utf8',sep=';')

In [85]:
df_noms_hobbies

,Unnamed: 0,Nombres de niña,Nombres de niño,Hobbies
0,NaN,Isabella,Daniel,abejas (crianza de abejas o apicultura)
1,NaN,Olivia,David,acroyoga
2,NaN,Alexis,Gabriel,actuar en teatro
3,NaN,Sofía,Benjamín,acuarios
4,NaN,Victoria,Samuel,aerobic
...,...,...,...,...
403,NaN,NaN,NaN,NaN
404,NaN,NaN,NaN,NaN
405,NaN,NaN,NaN,NaN
406,NaN,NaN,NaN,NaN
407,NaN,NaN,NaN,NaN

In [86]:
df_noms_hobbies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       0 non-null      float64
 1   Nombres de niña  100 non-null    object
 2   Nombres de niño  100 non-null    object
 3   Hobbies          388 non-null    object
dtypes: float64(1), object(3)
memory usage: 12.9+ KB

In [100]:
names=list(df_noms_hobbies['Nombres de niña'])[:100] + list(df_noms_hobbies['Nombres de niño'])[:100]
hobbies = nombres=list(df_noms_hobbies['Hobbies'])[:389]

In [101]:
for i in range (0,500):
    age = random.randint(10,105)
    num_name = random.randint(0,199)
    num_hobbies = random.randint(0,10)
    hobbies_personal=[]
    if num_hobbies>0:
        for j in range (0,num_hobbies):
            aleat_hobbie = random.randint(0,387)
            hobbies_personal.append(hobbies[aleat_hobbie])
    col.insert_one({'age': age, 
                'name': names[num_name], 
                'hobbies': hobbies_personal
                }
                )

In [102]:
print(f"Names of DDBB in MongoDB: {client.list_database_names()}")
print(f"Collection's names in the DB 'prueba': {db.list_collection_names()}")
print(f"Number of documents in the collecion 'personas': {col.count_documents({})} ")

Names of DDBB in MongoDB: ['admin', 'config', 'local', 'prueba', 'test_DDBB']
Collection's names in the DB 'prueba': ['personas']
Number of documents in the collecion 'personas': 506

## Nivell 2

**- Exercici 1:**
Carega algunes consultes senzilles a un Pandas Dataframe.

## Nivell 3

 **- Exercici 1:** Genera un resum estadístic de la informació que conté la base de dades.

Ho faig amb el phpMyAdmin:

In [3]:
db=MySQLdb.connect('localhost','root', '', 'ferreteria_el_clau_clau')

Tutotials MongoDB:
 * [Crash Course MongoDB](https://www.youtube.com/watch?v=qWYx5neOh2s)
 * [Video tutorial para trabajar con DDBB y MongoDB en local](https://www.youtube.com/watch?v=pJO5gKxzsco)

In [59]:
db.close()