In [ ]:
!python --version

Python 3.7.12

In [1]:
import pymongo

ModuleNotFoundError: No module named 'pycaret'

## Descripció

Aprendre a crear un model relacional i diagrama entitat-relació.

## Nivell 1

**- Exercici 1:**
Crea una base relacional d’exemple utilitzant un document de text o a mà. Dissenya-la perquè contingui les següents taules, i estableix les relacions que consideris necessàries entre elles:

-	Taula de compres (transaccions)

-	Taula d’establiments

-	Taula de treballadors

-	Taula de clients

-	Taula de productes

-	Taula de tipus de productes

Defineix les propietats de les relacions (1:1, 1:n, n:n), i crea algunes de les variables que podrien contenir, per exemple:



Taula d’establiments

-	IDestabliment (unique key)

-	Nom

-	Localització

-	Superfície

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import re

import MySQLdb

%matplotlib inline

El document l'he fet amb power point i l'he salvat a format.png

Els atributs que comencen amb ID_ són claus primaries i els que acaben amb \_ID són claus secundaries.

<img src="BBDD relacionals_Ferreteria5.png">

Justificació de les relacions:
* **De producte a transaccions(n:n)**: una transacció pot tenir diferents productes i un producte pot estar a moltes transaccions.
* **De client a transaccions (1:n)**: una transacció només pot tenir un client però un client pot estar a diferents transaccions.
* **De treballador a establiment(n:n)**: un treballador pot treballar a diferents establiments segons el dia i cada establiment té més d'un treballador.
* **De tipus de producte a producte (1:n)**: un tipus de producte conté molts productes diferents però un producte concret només està dintre d'un tipus/categoria.
* **D'establiment a transaccions (1:n)**: una transacció només pot contenir 1 sol establiment però un client pot estar a diferents transaccions.

## Nivell 2

**- Exercici 2:**
Utilitza un programa de creació de diagrames entitat-relació com http://dia-installer.de per crear el diagrama.

<img src="Diagrama_Ferreteria2.png">

## Nivell 3

 **- Exercici 3:** Utilitza el Workbench de MySQL per crear un model relacional.

Ho faig amb el phpMyAdmin:

In [3]:
db=MySQLdb.connect('localhost','root', '', 'ferreteria_el_clau_clau')

In [4]:
#Entrada de registres a la base de dades creada anteriorment mitjançant Jupyter notebook.
insertrec=db.cursor()
sqlquery="insert into clients(ID_client, nom, cognoms, nom_empresa, telefon, adreca) values ('','Pere', 'Gonzalez Rico', 'Tupinamba','23423399', 'c/Mallorca 54 Barcelona') "
insertrec.execute(sqlquery) 
db.commit()
print ('Registro entrado correctamente!')
db.close()

Registro entrado correctamente!

#Les dades es poden incorporar mitjançant el comandament input o bé emprant el phpMyAdmin directament. Posem com exemple per entrar un nou establiment (cal posar restriccions per a que les entrades encaixin amb el tipus de registre!!)

In [54]:
 nomEstabliment ,localitzacioEstabliment, superficieEstabliment = '','',0
    
while (nomEstabliment == '') or (len(nomEstabliment)>50): 
    nomEstabliment = input ("Digues el nom de l'establiment: ")
    if nomEstabliment == '' or len(nomEstabliment)>50:
        print( "El nom de l'establiment ha de tenir un màxim de 50 caracters i no pot estar buit.")
           
while localitzacioEstabliment == '' or len(localitzacioEstabliment) > 1000: 
    localitzacioEstabliment = input ( f"Adreça de l'establiment {nomEstabliment}?: ")
    if localitzacioEstabliment == '' or len(localitzacioEstabliment) > 100:
        print( "La localització de l'establiment ha de tenir un màxim de 100 caracters i no pot estar buit.")
           
while superficieEstabliment == 0 or superficieEstabliment > 9999 : 
    superficieEstabliment = input ("Digues la superfície de l'establiment (<10000): ")
   
    try:
        superficieEstabliment=int( superficieEstabliment)
        if superficieEstabliment == 0 or superficieEstabliment >9999:        
            print( "La superfície de l'establiment ha de ser un número sencer (<10000) i no pots deixar-ho buit.")                     
            
    except:
        print("La superfície de l'establiment ha de ser un número sencer (<10000) i no pots deixar-ho buit.")
        superficieEstabliment = 0

Digues el nom de l'establiment: Hospiferro
Adreça de l'establiment Hospiferro?: c/Pou 34
Digues la superfície de l'establiment (<10000): 569

In [55]:
superficieEstabliment

569

In [66]:
db=MySQLdb.connect('localhost','root', '', 'ferreteria_el_clau_clau')
insertrec=db.cursor()
sqlquery =(f"INSERT INTO 'establiments'('ID_establiment', 'nom', 'localitzacio', 'superficie')  VALUES (NULL, '{nomEstabliment}', '{localitzacioEstabliment}', 230); ")

In [67]:
#INSERT INTO `establiments` (`ID_establiment`, `nom`, `localitzacio`, `superficie`) VALUES (NULL, 'Ferrati Sabadell', 'Rambla 112', '345')

sqlquery

"INSERT INTO 'establiments'('ID_establiment', 'nom', 'localitzacio', 'superficie')  VALUES (NULL, 'Hospiferro', 'c/Pou 34', 230); "

In [68]:
insertrec.execute(sqlquery) 
db.commit()
print ('Registro entrado correctamente!')

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ''establiments'('ID_establiment', 'nom', 'localitzacio', 'superficie')  VALUES...' at line 1")

In [59]:
db.close()

Tutotials Python i PHPMyAdmin:
 * https://youtu.be/hyijyu-8PPA
 * https://www.youtube.com/watch?v=OAwyfT2pZzQ

Finalment desisteixo perquè no trobo l'error en la Query, és molt més fàcil entrar dades, generar taules i BBDD directament des de la Phpmyadmin. I segueixo practicant en la 2a part del Sprint. Ho deixo a veure si tu en treus l'entrellat però realment no hi veig perquè invertir-hi més temps...