In [17]:
import pymongo  
import datetime

## Descripció / _Description_

Comencem a familiaritzar-nos amb bases de dades NoSQL!!! Comencem amb uns quants exercicis bàsics.

_Start getting familiar with data bases nonSQL!! We begin with some basic exercices_

# Nivell / _Level_ 1

**- Exercici 1:**
Crea una base de dades NoSQL utilitzant MongoDB. Afegeix-li algunes dades d'exemple que et permetin comprovar que ets capaç de processar-ne la informació de manera bàsica.

_**- Exercici 1:**
Create a NoSQL database using MongoDB. Insert to it some data to demonstrate you are able to process the infromation in a basic way._

In [41]:
from pymongo import MongoClient

Open the program **MongoDB Compass** and connect to database (local in this case, but it could be hosted), program previously installed see [readme.md](https://github.com/MarkusHumetus/Bases_de_dades_NoSQL/blob/main/README.md).

In [94]:
client = MongoClient('localhost',
            port=27017,
            ) #connection to DDBB
            
db = client['prueba'] #generate a DDBB with name prueba (no prob if it already exists!)

col = db['personas'] #generate a collection with the name personas (no prob if it already exists!)

In [55]:
col.insert_one({'age': 20, 
                'name': 'Maria', 
                'hobbies':['cooking repostery','yoga']
                }
                )

In [63]:
#how to insert many register in one time
col.insert_many([{'age': 33, 
                'name': 'Marc', 
                'hobbies':['cinema', 'reading books', 'coding python']
                },
                {'age': 55, 
                'name': 'Helena', 
                'hobbies':['dancing', 'cooking']
                },
                {'age': 19, 
                'name': 'Isabel', 
                'hobbies':['play cards', 'swimming']
                },
                {'age': 48, 
                'name': 'Marc', 
                'hobbies':['hockey', 'canyoning', 'reading books', 'coding python']
                }
                ])

One document is introduced directly with mongoDB Compass program.

In [69]:
print(f"Names of DDBB in MongoDB: {client.list_database_names()}")
print(f"Collection's names in the DB 'prueba': {db.list_collection_names()}")
print(f"Number of documents in the collecion 'personas': {col.count_documents({})} ")

Names of DDBB in MongoDB: ['admin', 'config', 'local', 'prueba', 'test_DDBB']
Collection's names in the DB 'prueba': ['personas']
Number of documents in the collecion 'personas': 6

In [30]:
client.close() #close the DB

In [27]:
'''#We connect to the MongoDB DDBB created by software

cluster="mongodb+srv://marc:markus1973@cluster0.koq3h.mongodb.net/test?retryWrites=true&w=majority"
from pymongo import MongoClient

client = MongoClient(cluster)
db=client.test

print (client.list_database_names())
print (db.list_collection_names())

todo1={"name":"Marc", 'text':'My first duttie', 'status':'open', 'tags': ['python','DDBB', 'coding'], 'date': datetime.datetime.utcnow()}

todos = db.todos

result = todos. insert_one(todo1)

todo2 = [{"name":"Marc", 'text':'My secont todo', 'status':'open', 'tags': ['python','DDBB', 'coding'], 'date': datetime.datetime.utcnow()},{"name":"Marc", 'text':'My secont todo', 'status':'open', 'tags': ['python','DDBB', 'coding'], 'date': datetime.datetime.utcnow()}]

result=todos. insert_many(todo2)

client.close() '''

['admin', 'local']
[]

**- Exercici 2:**
Connecta la base de dades NoSQL a Python utilitzant per exemple pymongo.

_**- Exercise 2:**
Connect the data base NoSQL to Python (by using pymongo for instance)._

I generate a Data Base in an aleatory way from lists of names and hobbies extracted from internet.

In [98]:
import pandas as pd
import random

In [84]:
df_noms_hobbies=pd.read_csv("nombres y hobbies.csv",engine='python', encoding='utf8',sep=';')

In [85]:
df_noms_hobbies

,Unnamed: 0,Nombres de niña,Nombres de niño,Hobbies
0,NaN,Isabella,Daniel,abejas (crianza de abejas o apicultura)
1,NaN,Olivia,David,acroyoga
2,NaN,Alexis,Gabriel,actuar en teatro
3,NaN,Sofía,Benjamín,acuarios
4,NaN,Victoria,Samuel,aerobic
...,...,...,...,...
403,NaN,NaN,NaN,NaN
404,NaN,NaN,NaN,NaN
405,NaN,NaN,NaN,NaN
406,NaN,NaN,NaN,NaN
407,NaN,NaN,NaN,NaN

In [86]:
df_noms_hobbies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       0 non-null      float64
 1   Nombres de niña  100 non-null    object
 2   Nombres de niño  100 non-null    object
 3   Hobbies          388 non-null    object
dtypes: float64(1), object(3)
memory usage: 12.9+ KB

In [100]:
names=list(df_noms_hobbies['Nombres de niña'])[:100] + list(df_noms_hobbies['Nombres de niño'])[:100]
hobbies = nombres=list(df_noms_hobbies['Hobbies'])[:389]

In [101]:
for i in range (0,500):
    age = random.randint(10,105)
    num_name = random.randint(0,199)
    num_hobbies = random.randint(0,10)
    hobbies_personal=[]
    if num_hobbies>0:
        for j in range (0,num_hobbies):
            aleat_hobbie = random.randint(0,387)
            hobbies_personal.append(hobbies[aleat_hobbie])
    col.insert_one({'age': age, 
                'name': names[num_name], 
                'hobbies': hobbies_personal
                }
                )

In [102]:
print(f"Names of DDBB in MongoDB: {client.list_database_names()}")
print(f"Collection's names in the DB 'prueba': {db.list_collection_names()}")
print(f"Number of documents in the collecion 'personas': {col.count_documents({})} ")

Names of DDBB in MongoDB: ['admin', 'config', 'local', 'prueba', 'test_DDBB']
Collection's names in the DB 'prueba': ['personas']
Number of documents in the collecion 'personas': 506

## Let's practice different operation with this DDBB: update, delete, find,

### 1. Update

### 2. Delete

### 3. Find

Search of people aged > 65 years old and being youtuber as hobbie:

In [116]:
jubilados_youtubers = col.find({'age':{'$gt':65}, 'hobbies':'youtuber'})
for doc in jubilados_youtubers:
    print(doc)

{'_id': ObjectId('629f93a66f4726a671830ea5'), 'age': 73, 'name': 'Óscar', 'hobbies': ['aikido', 'youtuber', 'visitar museos y exposiciones', 'fosiles (busqueda de)', 'autocaravanas', 'ballet', 'manga y anime', 'tejo (juego colombiano)', 'baloncesto']}
{'_id': ObjectId('629f93a66f4726a671830eb7'), 'age': 94, 'name': 'Fabián', 'hobbies': ['youtuber', 'modelismo con cerillas', 'acuarios', 'patchwork y colchas', 'karate', 'esports', 'kung fu']}
{'_id': ObjectId('629f93a66f4726a671830f28'), 'age': 75, 'name': 'Alina', 'hobbies': ['bailar', 'comics (creacion de )', 'barcos de motor', 'toros (aficion a los)', 'podcasts (aficion/creacion)', 'youtuber', 'geocaching y busqueda de tesoros']}
{'_id': ObjectId('629f93a76f4726a67183100f'), 'age': 98, 'name': 'Lucía', 'hobbies': ['youtuber', 'conferencias(asistir a)', 'hockey de mesa (air hockey)', 'escalada', 'bibliofilia', 'pintura sobre seda', 'electronica', 'bmx (bicicleta de motocross)', 'pesca submarina']}

### 4. Generate Index for fast search

In [119]:
from pymongo import ASCENDING, DESCENDING

In [118]:
col.create_index([('age', ASCENDING)])

'age_1'

# Nivell / _Level_ 2

**- Exercici 1:**
Carega algunes consultes senzilles a un Pandas Dataframe. 

_**- Exercise 1:**
Charge some simple queries to a Panda's Data Frame._

In [106]:
df_all = pd.DataFrame(list(col.find())) #generates a data frame with all the data in the collection
df_all

,_id,age,name,hobbies
0,629f747d6f4726a671830e9b,20,Maria,"[cooking repostery, yoga]"
1,629f79916f4726a671830e9f,33,Marc,"[cinema, reading books, coding python]"
2,629f79916f4726a671830ea0,55,Helena,"[dancing, cooking]"
3,629f79916f4726a671830ea1,19,Isabel,"[play cards, swimming]"
4,629f79916f4726a671830ea2,48,Marc,"[hockey, canyoning, reading books, coding python]"
...,...,...,...,...
501,629f93a76f4726a671831093,92,Lucián,"[programacion informatica, baile con barra (po..."
502,629f93a76f4726a671831094,57,Ariana,"[flores secas (trabajar con), aerobic, robotic..."
503,629f93a76f4726a671831095,20,Arturo,"[escalada, documentales (aficion a los), salud..."
504,629f93a76f4726a671831096,78,Amanda,[]
505,629f93a76f4726a671831097,60,Guadalupe,[]

# Nivell / _Level_ 3

 **- Exercici 1:** Genera un resum estadístic de la informació que conté la base de dades.

 _**- Exercise 1:** Generate an estadistic abstract of the information contained in the data base._

In [59]:
client.close()

# Conclusions

This exercise was useful to learn:
1. How to create an account in MongoDB and install all required programs and libraries.
2. Create a Data Base (local or hosted)  and its structure: collection(~table) + documents (~register).
3. Update or delete DDBB, collections or documents using Python. (same can be performed in Mongo comand)
4. Find (query) searches according different conditions and export them to panda's data frame.

To generate file with the libraries installed in the environment used to run the notebook:

In [ ]:
!pip list > requirements.txt #

Tutorials MongoDB:
 * [Video de instalación de MongoDB y como funciona](https://www.youtube.com/watch?v=c8n6JsQuX2A)
 * [Crash Course MongoDB](https://www.youtube.com/watch?v=qWYx5neOh2s)
 * [Video tutorial para trabajar con DDBB y MongoDB en local](https://www.youtube.com/watch?v=pJO5gKxzsco)