In [16]:
!python --version

Python 3.7.12

In [17]:
import pymongo  
import datetime

In [18]:
!pip list > requirements.txt #to generate file with the libraries installed in the environment used to run the notebook

## Descripció

Comencem a familiaritzar-nos amb bases de dades NoSQL!!! Comencem amb uns quants exercicis bàsics.

## Nivell 1

**- Exercici 1:**
Crea una base de dades NoSQL utilitzant MongoDB. Afegeix-li algunes dades d'exemple que et permetin comprovar que ets capaç de processar-ne la informació de manera bàsica.

In [41]:
from pymongo import MongoClient

Open the program **MongoDB Compass** and connect to database (local in this case, but it could be hosted), program previously installed see [readme.md](https://github.com/MarkusHumetus/Bases_de_dades_NoSQL/blob/main/README.md).

In [53]:
client = MongoClient('localhost',
            port=27017,
            )

In [65]:
db = client['prueba'] #generate a DDBB with name prueba (no prob if it already exists!)

col = db['personas'] #generate a collection with the name personas (no prob if it already exists!)

In [55]:
col.insert_one({'age': 20, 
                'name': 'Maria', 
                'hobbies':['cooking repostery','yoga']
                }
                )

In [63]:

col.insert_many([{'age': 33, 
                'name': 'Marc', 
                'hobbies':['cinema', 'reading books', 'coding python']
                },
                {'age': 55, 
                'name': 'Helena', 
                'hobbies':['dancing', 'cooking']
                },
                {'age': 19, 
                'name': 'Isabel', 
                'hobbies':['play cards', 'swimming']
                },
                {'age': 48, 
                'name': 'Marc', 
                'hobbies':['hockey', 'canyoning', 'reading books', 'coding python']
                }
                ])

In [68]:
print(f"Names of DDBB in MongoDB: {client.list_database_names()}")
print(f"Collection's names in the DB 'prueba': {db.list_collection_names()}")
print(f"Number of documents in the collecion 'personas': {col.count_documents({})} ")

Names of DDBB in MongoDB: ['admin', 'config', 'local', 'prueba', 'test_DDBB']
Collection's names in the DB 'prueba': ['personas']
Number of documents in the collecion 'personas': 5

In [30]:
client.close()

In [27]:
#We connect to the MongoDB DDBB created by software

cluster="mongodb+srv://marc:markus1973@cluster0.koq3h.mongodb.net/test?retryWrites=true&w=majority"
from pymongo import MongoClient

client = MongoClient(cluster)
db=client.test

print (client.list_database_names())
print (db.list_collection_names())

['admin', 'local']
[]

In [24]:
todo1={"name":"Marc", 'text':'My first duttie', 'status':'open', 'tags': ['python','DDBB', 'coding'], 'date': datetime.datetime.utcnow()}

In [ ]:
todos = {"name":"Joan", }

In [ ]:

todos = db.todos

result = todos. insert_one(todo1)

In [ ]:
todo2 = [{"name":"Marc", 'text':'My secont todo', 'status':'open', 'tags': ['python','DDBB', 'coding'], 'date': datetime.datetime.utcnow()},{"name":"Marc", 'text':'My secont todo', 'status':'open', 'tags': ['python','DDBB', 'coding'], 'date': datetime.datetime.utcnow()}]

result=todos. insert_many(todo2)

In [25]:
client.close()

**- Exercici 2:**
Connecta la base de dades NoSQL a Python utilitzant per exemple pymongo.

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import re

import MySQLdb

%matplotlib inline

## Nivell 2

**- Exercici 1:**
Carega algunes consultes senzilles a un Pandas Dataframe.

<img src="Diagrama_Ferreteria2.png">

## Nivell 3

 **- Exercici 1:** Genera un resum estadístic de la informació que conté la base de dades.

Ho faig amb el phpMyAdmin:

In [3]:
db=MySQLdb.connect('localhost','root', '', 'ferreteria_el_clau_clau')

Tutotials MongoDB:
 * [Crash Course MongoDB](https://www.youtube.com/watch?v=qWYx5neOh2s)

In [59]:
db.close()